body {
	/*THE BODY PADDING HERE IS SO THE NAVBAR DOESNT HIDE STUFF*/
	padding-top: 70px
}

.col-xs-12 {
   /* border-left: 1px solid black;
    border-right: 1px solid black;*/
    border-bottom: 1px solid black;
    margin: 0 auto;
}

.homebutton {
	background-color: green;
	width: 300px;
	height: 100px;
	font-size: 50px;
	padding-top: 15px;
}

.dateform {
/*	border: 1px solid black;
*/	margin: 40px;
	text-align: center;
	padding: 20px;
}




















/*#mainJumbo {*/
/*    margin-top: 75px;*/
/*    background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTGaPxCDcR9WbO-7WEagl3wzjaaAjCOfNWtufLvvo4X--fqtFIK);*/
/*    background-size: cover;*/
/*    height: 600px;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*}*/

/*#mainJumbo p {*/
/*    margin: 100px auto;*/
/*}*/

/*#mainJumbo h1 {*/
/*    margin-top: 50px;*/
/*    padding-top: 25px;*/
/*}*/

/*#shadowbox {*/
/*        margin: 0 auto;*/
/*        background: rgba(10, 10, 10, 0.4);*/
/*        width: 500px;*/
/*        height: 400px;*/
/*        border-radius: 50px;*/
/*        color: yellow;*/
/*}*/



/*.jumbotron .btn {*/
/*    margin-top: 25px;*/
/*}*/

/*#welcomeBanners {*/
/*    text-align: center;*/
/*}*/