extends layout

block content
 .container
  .row
   .container
    .dateform.form(action="", method="POST")
     input(type="text", name="zip", placeholder="Enter Zip")
     input(type="text", name="checkIn", placeholder="Check In Date")
     input(type="text", name="checkOut", placeholder="Check Out Date")
     input(type="submit", value="Submit!")
  .row
   .col-xs-12.col-md-4
    .homebutton.btn.btn-primary(type='submit')
     i.glyphicon.glyphicon-tree-conifer
      |Camp
   .col-xs-12.col-md-4
    .homebutton.btn.btn-primary(type='submit')
     i.glyphicon.glyphicon-tree-conifer
      |Fish
   .col-xs-12.col-md-4
    .homebutton.btn.btn-primary(type='submit')
     i.glyphicon.glyphicon-tree-conifer
      |Hunt
 .container
  each location in locations
   .row
    h1
       = location.name
    h5
       = location.address
    each activity in location.activities
     span.activitylabel.label.label-default
       = activity