extends layout

block content

 form(action="/location/new", method="POST")
  input(type="text", name="name", placeholder="name")
  input(type="text", name="address", placeholder="address")
  input(type="text", name="activities", placeholder="activites")
  input(type="text", name="lng", placeholder="longitude")
  input(type="text", name="lat", placeholder="latitude")
  input(type="date", name="openingDate", placeholder="Opens")
  input(type="date", name="closingDate", placeholder="Closes")
  input(type="text", name="zipcode", placeholder="Zip")

  input(type="submit", value="Submit")